.root {

    -fx-background-color:
            #0f172a;

    -fx-font-size: 14px;
}

.button {

    -fx-background-color:
            #1e293b;

    -fx-text-fill: white;

    -fx-background-radius: 8;
}

.text-area {

    -fx-control-inner-background:
            #111827;

    -fx-text-fill: white;
}

.current-line {
    -fx-background-color: #FFD54F;
    -fx-fill: black;
}
.button:hover{
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}